---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Complex Ukropter" lang="ua">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">КОМПЛЕКС UKROPTER</span>
          <span class="hero-title__pattern">КОМПЛЕКС UKROPTER</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">КОМПЛЕКС UKROPTER</span>
          <span class="hero-title-mobile__pattern">КОМПЛЕКС UKROPTER</span>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="table-desktop">
          <ul class="table-desktop__list">
            <li class="table-desktop__item">
              БпЛА «Бомбер» з камерою 9X zoom
              <span class="table-desktop__qty">1 ШТ.</span>
              <div class="table-desktop__underline"></div>
            </li>
            <li class="table-desktop__item">
              БпЛА «Розвідка» з камерою 10X оптичний,90X комбінований zoom
              <span class="table-desktop__qty">1 ШТ.</span>
              <div class="table-desktop__underline"></div>
            </li>
          </ul>
          <ul class="table-desktop__list">
            <li class="table-desktop__item">
              Навігаційна система з Маяками
              <span class="table-desktop__qty">1 ШТ.</span>
              <div class="table-desktop__underline"></div>
            </li>
            <li class="table-desktop__item">
              Наземна станція керування(ноутбук, штатив з антенами,трекер)
              <span class="table-desktop__qty">1 ШТ.</span>
              <div class="table-desktop__underline"></div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Оборудование (мобильная версия) -->
      <div class="container">
        <div class="equipment">
          <ul class="equipment__list">
            <li class="equipment__item">
              <span class="equipment__name"
                >БпЛА «Бомбер» з камерою 9X zoom</span
              >
              <span class="equipment__qty">1 ШТ.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name">
                БпЛА «Розвідка» з камерою 10Х оптичний, 90Х комбінований zoom
              </span>
              <span class="equipment__qty">1 ШТ.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name"
                >Навігаційна система з Маяками</span
              >
              <span class="equipment__qty">1 ШТ.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name">
                Наземна станція керування (ноутбук, штатив з антенами, трекер)
              </span>
              <span class="equipment__qty">1 ШТ.</span>
            </li>
          </ul>
        </div>

        <!-- Параметры комплекса -->
        <div>
          <div class="complex-table">
            <p class="complex-table__settings">Параметри</p>
          </div>
          <div class="specs">
            <div class="specs__block">
              <p class="specs__title">Максимальна злітна маса</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>4,8 кг
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>3,4 кг
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Максимальна вага корисного навантаження
              </p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>2 кг
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>–
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Тактичний радіус дії</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>15 км
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>15 км
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Тривалість польоту (з навантаженням)</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>35 хв
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>60 хв
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Максимальна швидкість</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>50 км/год
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>75 км/год
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Крейсерська швидкість</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>30 км/год
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>35 км/год
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Висота польоту не обмежена, рекомендовано — до →
              </p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>300 м
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>300 м
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Дальність звʼязку (телеметрія/керування)
              </p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>до 30 км
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>до 30 км
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Навігація</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>GNSS L1 L2, LRS
                маяк
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>GNSS L1 L2,
                LRS маяк
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Камери</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>TOPOTEK KHP415
                4K
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>TOPOTEK
                DIY10S90
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Канал 1 (основний) Телеметрія/керування з ППРЧ
              </p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>410 — 490 МГц
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>410 — 490 МГц
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Канал 2 Відео HD Link</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>Цифровий 5.8 ГГц
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>Цифровий 5.8
                ГГц
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Кількість БпЛА в БпАК</p>
              <p class="specs__item">
                <strong class="specs__label">«БОМБЕР»</strong>1
              </p>
              <p class="specs__item">
                <strong class="specs__label">«РОЗВІДКА»</strong>1
              </p>
            </div>
          </div>

          <!-- Таблица параметров -->
          <div class="table-pop">
            <table class="table-pop__table">
              <thead class="table-pop__thead">
                <tr class="table-pop__row">
                  <th class="table-pop__header">Параметри</th>
                  <th class="table-pop__header">«БОМБЕР»</th>
                  <th class="table-pop__header">«РОЗВІДКА»</th>
                </tr>
              </thead>
              <tbody class="table-pop__body">
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Максимальна злітна маса</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    4,8 кг
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    3,4 кг
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Максимальна вага корисного навантаження
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">2 кг</td>
                  <td class="table-pop__cell table-pop__cell--bold">–</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Тактичний радіус дії</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 км</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 км</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Тривалість польоту (з навантаженням)
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">35 хв</td>
                  <td class="table-pop__cell table-pop__cell--bold">60 хв</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Максимальна швидкість</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    50 км/год
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    75 км/год
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Крейсерська швидкість</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    30 км/год
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    35 км/год
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Висота польоту не обмежена, рекомендовано
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">300 м</td>
                  <td class="table-pop__cell table-pop__cell--bold">300 м</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Дальність зв'язку (телеметрія/керування)
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    до 30 км
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    до 30 км
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Навігація</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    GNSS L1 L2, LRS маяк
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    GNSS L1 L2, LRS маяк
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Камери</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    TOPOTEK КНРЧ15 4К
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    TOPOTEK DIV10590
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Час розгортання</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 хв</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 хв</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Канал 1 (основний) Телеметрія/керування з ППРЦ
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    410 – 490 МГц
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    410 – 490 МГц
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Канал 2 Bigeo HD Link</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    Цифровий 5.8 ГГц
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    Цифровий 5.8 ГГц
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Кількість БпЛА в БпАК</td>
                  <td class="table-pop__cell table-pop__cell--bold">1</td>
                  <td class="table-pop__cell table-pop__cell--bold">1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
