---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Complex Ukropter" lang="en">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">COMPLEX UKROPTER</span>
          <span class="hero-title__pattern">COMPLEX UKROPTER</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">COMPLEX UKROPTER</span>
          <span class="hero-title-mobile__pattern">COMPLEX UKROPTER</span>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="table-desktop">
          <ul class="table-desktop__list">
            <li class="table-desktop__item">
              "Bomber" UAV with 9x zoom camera
              <span class="table-desktop__qty">1 PCS.</span>
              <div class="table-desktop__underline"></div>
            </li>
            <li class="table-desktop__item">
              "Intelligence" UAV with a camera 10X optical, 90X combined zoom
              <span class="table-desktop__qty">1 PCS.</span>
              <div class="table-desktop__underline"></div>
            </li>
          </ul>
          <ul class="table-desktop__list">
            <li class="table-desktop__item">
              Navigation system with beacons
              <span class="table-desktop__qty">1 PCS.</span>
              <div class="table-desktop__underline"></div>
            </li>
            <li class="table-desktop__item">
              Ground control station (laptop, antenna tripod, tracker)
              <span class="table-desktop__qty">1 PCS.</span>
              <div class="table-desktop__underline"></div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Оборудование (мобильная версия) -->
      <div class="container">
        <div class="equipment">
          <ul class="equipment__list">
            <li class="equipment__item">
              <span class="equipment__name"
                >"Bomber" UAV with 9x zoom camera</span
              >
              <span class="equipment__qty">1 PCS.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name">
                UAV «Reconnaissance» with a 10X optical, 90X combined zoom
                camera
              </span>
              <span class="equipment__qty">1 PCS.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name"
                >Navigation system with beacons</span
              >
              <span class="equipment__qty">1 PCS.</span>
            </li>
            <li class="equipment__item">
              <span class="equipment__name">
                Ground control station (laptop, antenna tripod, tracker)
              </span>
              <span class="equipment__qty">1 PCS.</span>
            </li>
          </ul>
        </div>

        <!-- Параметры комплекса -->
        <div>
          <div class="complex-table">
            <p class="complex-table__settings">Parameters</p>
          </div>
          <div class="specs">
            <div class="specs__block">
              <p class="specs__title">Maximum takeoff weight</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>4,8 kg
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>3.4 kg
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Maximum payload weight</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>2 kg
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>–
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Tactical range of action</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>15 km
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>15 km
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Flight duration (with load)</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>35 min
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>60 min
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Maximum speed</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>50 km/h
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>75 km/h
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Cruising speed</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>30 km/h
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>35 km/h
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                No altitude limit; recommended op. alt ≤
              </p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>300 m
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>300 m
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Communication range (telemetry/control)
              </p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>up to 30 km
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>up to 30
                km
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Navigation</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>GNSS L1 L2, LRS
                beacon
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>GNSS L1
                L2, LRS beacon
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Cameras</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>TOPOTEK KHP415
                4K
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>TOPOTEK
                DIY10S90
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Deployment time</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>15 min
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>15 min
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">
                Channel 1 (primary): Telemetry/Control via FHSS
              </p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>410 — 490 MHz
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>410 —
                490 MHz
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">Channel 2 Video HD Link</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>Digital 5.8 GHz
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>Digital
                5.8 GHz
              </p>
            </div>
            <div class="specs__block">
              <p class="specs__title">The number of UAVs in the UAV fleet</p>
              <p class="specs__item">
                <strong class="specs__label">«BOMBER»</strong>1
              </p>
              <p class="specs__item">
                <strong class="specs__label">«RECONNAISSANCE»</strong>1
              </p>
            </div>
          </div>

          <!-- Таблица параметров -->
          <div class="table-pop">
            <table class="table-pop__table">
              <thead class="table-pop__thead">
                <tr class="table-pop__row">
                  <th class="table-pop__header">Parameters</th>
                  <th class="table-pop__header">«BOMBER»</th>
                  <th class="table-pop__header">«RECONNAISSANCE»</th>
                </tr>
              </thead>
              <tbody class="table-pop__body">
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Maximum take-off weight</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    4,8 kg
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    3,4 kg
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Maximum payload weight</td>
                  <td class="table-pop__cell table-pop__cell--bold">2 kg</td>
                  <td class="table-pop__cell table-pop__cell--bold">–</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Tactical range of action</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 km</td>
                  <td class="table-pop__cell table-pop__cell--bold">15 km</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Flight duration (with load)</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    35 min
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    60 min
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Maximum speed</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    50 km/h
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    75 km/h
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Cruising speed</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    30 km/h
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    35 km/h
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    No altitude limit; recommended op. alt ≤
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">300 m</td>
                  <td class="table-pop__cell table-pop__cell--bold">300 m</td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Communication range (telemetry/control)
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    up to 30 km
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    up to 30 km
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Navigation</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    GNSS L1 L2, LRS beacon
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    GNSS L1 L2, LRS beacon
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Cameras</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    TOPOTEK KHP415 4K
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    TOPOTEK DIY10S90
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Deployment time</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    15 min
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    15 min
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    Channel 1 (primary): Telemetry/Control via FHSS
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    410 – 490 MHz
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    410 – 490 MHz
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">Channel 2 Video HD Link</td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    Digital 5.8 GHz
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">
                    Digital 5.8 GHz
                  </td>
                </tr>
                <tr class="table-pop__row">
                  <td class="table-pop__cell">
                    The number of UAVs in the UAV fleet
                  </td>
                  <td class="table-pop__cell table-pop__cell--bold">1</td>
                  <td class="table-pop__cell table-pop__cell--bold">1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
