---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="NRK DJURA" lang="en">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">GROUND-BASED EXCHANGER DJURA</span>
          <span class="hero-title__pattern"
            >GROUND-BASED EXCHANGER DJURA</span
          >
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base"
            >GROUND-BASED EXCHANGER DJURA</span
          >
          <span class="hero-title-mobile__pattern"
            >GROUND-BASED EXCHANGER DJURA</span
          >
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="tech-specs">
          <div class="tech-specs__wrapper">
            <table class="tech-specs__table">
              <thead class="tech-specs__thead">
                <tr class="tech-specs__row">
                  <th class="tech-specs__th">PARAMETERS</th>
                  <th class="tech-specs__th">INDICATORS</th>
                </tr>
              </thead>
              <tbody class="tech-specs__tbody">
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Overall dimensions</td>
                  <td class="tech-specs__td">1500 (2100) × 900 × 500 mm</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Platform weight</td>
                  <td class="tech-specs__td">130 kg</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Ground clearance</td>
                  <td class="tech-specs__td">170 (210) mm</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Payload</td>
                  <td class="tech-specs__td">up to 170 kg</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">All-wheel drive chassis</td>
                  <td class="tech-specs__td">by formula 6 × 6</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Tire without camber</td>
                  <td class="tech-specs__td">–</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Electric gearmotors</td>
                  <td class="tech-specs__td">36 V - 6 pieces</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Power per motor</td>
                  <td class="tech-specs__td">250 W</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Max. Torque</td>
                  <td class="tech-specs__td">80 Nm (on a wheel)</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Batteries</td>
                  <td class="tech-specs__td">Li-ion 60Ah</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Range (with load)</td>
                  <td class="tech-specs__td">up to 20 km</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Hill climbing (with load)</td>
                  <td class="tech-specs__td">up to 17°</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Speed</td>
                  <td class="tech-specs__td">up to 7 km/h</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Control signal range</td>
                  <td class="tech-specs__td">up to 3 km</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">
                    Control station on the frequency
                  </td>
                  <td class="tech-specs__td">915 MHz</td>
                </tr>
                <tr class="tech-specs__row">
                  <td
                    class="tech-specs__td"
                    style="border-right: 1px solid #95966b"
                  >
                    Operating temperature range
                  </td>
                  <td class="tech-specs__td">from -20 to +45°C</td>
                </tr>
                <tr class="tech-specs__row tech-specs__row--full">
                  <td class="tech-specs__td" colspan="2">
                    Supports integration with drone control systems and signal
                    repeaters. Optional video monitoring (day/night) can be
                    installed. Equipped with optional tracked drive system for
                    enhanced mobility
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="complex-table-djura">
          <p class="complex-table__settings">PARAM</p>
        </div>

        <ul class="specs-djura">
          <li class="specs-djura__block">
            <p class="specs-djura__title">Overall dimensions</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >1500 (2100) × 900 × 500 mm</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Platform weight</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">130 kg</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Ground clearance</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">170 (210) mm</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Payload</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">up to 170 kg</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">All-wheel drive chassis</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">by formula 6 × 6</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Tire without camber</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">-</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Electric gearmotors</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">36 V - 6 pieces</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Power per motor</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">250 W</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Max. Torque</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">80 Nm (per wheel)</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Batteries</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">Li-ion 60Ah</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Range (with a load)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">up to 20 km</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Hill climbing (with load)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">up to 17°</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Speed</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">up to 7 km/h</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Control signal range</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">up to 3 km</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Control station on frequency</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">915 MHz</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Operating temperature range</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">from -20 to +45°C</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Supports integration with drone control systems and signal
              repeaters. Optional video monitoring (day/night) can be
              installed. Equipped with optional tracked drive system for
              enhanced mobility
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
