---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="НРК DJURA" lang="ua">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">НРК DJURA</span>
          <span class="hero-title__pattern">НРК DJURA</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">НРК DJURA</span>
          <span class="hero-title-mobile__pattern">НРК DJURA</span>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="tech-specs">
          <div class="tech-specs__wrapper">
            <table class="tech-specs__table">
              <thead class="tech-specs__thead">
                <tr class="tech-specs__row">
                  <th class="tech-specs__th">ПАРАМЕТРИ</th>
                  <th class="tech-specs__th">ПОКАЗНИКИ</th>
                </tr>
              </thead>
              <tbody class="tech-specs__tbody">
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Габаритні розміри</td>
                  <td class="tech-specs__td">1500 (2100) × 900 × 500 мм</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Вага платформи</td>
                  <td class="tech-specs__td">130 кг</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Кліренс</td>
                  <td class="tech-specs__td">170 (210) мм</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Корисний вантаж</td>
                  <td class="tech-specs__td">до 170 кг</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Повнопривідне шасі</td>
                  <td class="tech-specs__td">за формулою 6 × 6</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Безкамерні шини</td>
                  <td class="tech-specs__td">–</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Електричні мотор-редуктори</td>
                  <td class="tech-specs__td">36 V – 6 штук</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Потужність одного двигуна</td>
                  <td class="tech-specs__td">250 Вт</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Макс. обертальний момент</td>
                  <td class="tech-specs__td">80 Нм (на колесо)</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Акумулятори</td>
                  <td class="tech-specs__td">Li-ion 60Ah</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Запас ходу (з вантажем)</td>
                  <td class="tech-specs__td">до 20 км</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Долає підйоми (з вантажем)</td>
                  <td class="tech-specs__td">до 17°</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Швидкість</td>
                  <td class="tech-specs__td">до 7 км/год</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">
                    Дальність дії сигналу керування
                  </td>
                  <td class="tech-specs__td">до 3 км</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">Станція керування на частоті</td>
                  <td class="tech-specs__td">915 МГц</td>
                </tr>
                <tr class="tech-specs__row">
                  <td class="tech-specs__td">
                    Діапазон експлуатаційних температур
                  </td>
                  <td class="tech-specs__td">від -20 до +45°C</td>
                </tr>
                <tr class="tech-specs__row tech-specs__row--full">
                  <td class="tech-specs__td" colspan="2">
                    Підключення до системи ретранслятора та управління дроном
                  </td>
                </tr>
                <tr class="tech-specs__row tech-specs__row--full">
                  <td class="tech-specs__td" colspan="2">
                    Є можливість встановлення відеоконтролю (ніч/день) при
                    керуванні, а також гусеничних траків, що збільшує
                    прохідність
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="complex-table-djura">
          <p class="complex-table__settings">Параметри</p>
        </div>
        <ul class="specs-djura">
          <li class="specs-djura__block">
            <p class="specs-djura__title">Габаритні розміри</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >1500 (2100) × 900 × 500 мм</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Вага платформи</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">130 кг</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Кліренс</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">170 (210) мм</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Корисний вантаж</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">до 170 кг</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Повнопривідне шасі</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">за формулою 6 × 6</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Безкамерні шини</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">-</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Електричні мотор-редуктори</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">36 V — 6 штук</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Потужність одного двигуна</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">250 Вт</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Макс. обертальний момент</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">80 Нм (на колесо)</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Акумулятори</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">Li-ion 60Ah</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Запас ходу (з вантажем)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">до 20 км</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Долає підйоми (з вантажем)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">до 17°</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Швидкість</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">до 7 км/год</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Дальність дії сигналу керування</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">до 3 км</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Станція керування на частоті</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">915 МГц</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Діапазон експлуатаційних температур
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">від -20 до +45°C</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Підключення до системи ретранслятора та управління дроном
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Є можливість встановлення відеоконтролю (ніч/день) при
              керуванні, а також гусеничних траків, що збільшує прохідність
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
