---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="UKROPTER PLATFORM" lang="en">
  <main>
    <section>
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">UKROPTER PLATFORM</span>
          <span class="hero-title__pattern">UKROPTER PLATFORM</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">UKROPTER PLATFORM</span>
          <span class="hero-title-mobile__pattern">UKROPTER PLATFORM</span>
        </div>
      </div>
    </section>
    <section class="spec-table">
      <div class="container">
        <div class="spec-table__wrapper">
          <table class="spec-table__table">
            <thead class="spec-table__thead">
              <tr class="spec-table__row">
                <th class="spec-table__th">PARAMETERS</th>
                <th class="spec-table__th">INDICATORS</th>
              </tr>
            </thead>

            <tbody class="spec-table__tbody">
              <tr class="spec-table__row">
                <td class="spec-table__td">Frame size</td>
                <td class="spec-table__td">16</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Payload weight</td>
                <td class="spec-table__td">1,5 kg</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Tactical range</td>
                <td class="spec-table__td">5 km</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Flight duration with 1 kg payload
                </td>
                <td class="spec-table__td">
                  60 min, 70 min, 80 min (depending on battery)
                </td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Azimuth accuracy</td>
                <td class="spec-table__td">1 degree</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Cruising speed</td>
                <td class="spec-table__td">55 km/h</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Recommended altitude</td>
                <td class="spec-table__td">up to 800 m</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  UAV navigation (removed); use optical instead
                </td>
                <td class="spec-table__td">—</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Optical navigation / stabilization
                </td>
                <td class="spec-table__td">StabX</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Camera</td>
                <td class="spec-table__td">SIYI A2 mini</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Operating frequency (SIYI)</td>
                <td class="spec-table__td">2.4 GHz</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Remote control</td>
                <td class="spec-table__td">SIYI</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Battery</td>
                <td class="spec-table__td">
                  27,5Ah, 30Ah Solid-State, 40Ah Solid-State
                </td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  External antenna mount option
                </td>
                <td class="spec-table__td">yes</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Deployment time</td>
                <td class="spec-table__td">5 min</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="complex-table-djura">
          <p class="complex-table__settings">PARAMETERS</p>
        </div>
        <ul class="specs-djura">
          <li class="specs-djura__block">
            <p class="specs-djura__title">Overall dimensions</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">16</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Payload weight</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">1,5 kg</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Tactical range</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">5 km</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Flight duration with 1 kg payload
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >60 min, 70 min, 80 min (depending on battery)</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Azimuth positioning accuracy
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">1 degree</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Cruising speed</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">55 km/h</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Recommended altitude — up to</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">800 m</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              UAV navigation (removed); use optical instead
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">—</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Optical navigation / stabilization
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">StabX</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Camera</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">SIYI A2 mini</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Operating frequency (SIYI)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">2.4 GHz</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Remote control included</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">SIYI</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Battery</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >27,5Ah, 30Ah Solid-State, 40Ah Solid-State</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              External antenna mount option
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">yes</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Deployment time</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">5 min</strong>
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
