---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Privacy Policy" lang="en">
  <div class="privacy__hero">
    <h1 class="privacy__h1">
      <span class="text-stack">
        <span class="typography-h1 text-base">PRIVACY POLICY</span>
        <span aria-hidden="true" class="typography-h1 text-pattern"
          >PRIVACY POLICY</span
        >
      </span>
    </h1>
  </div>

  <div class="container privacy-policy-partial">
    <div class="top_article">
      <p>
        The company "UKROPTER" (hereinafter referred to as the "Company")
        respects the privacy and confidentiality of its users. This Privacy
        Policy governs the collection, storage, use, and protection of
        personal data provided by users in the course of using the Company's
        website and services.
      </p>

      <br />

      <p>
        Personal data is used for the purpose of ensuring the provision of
        Internet services of the Site in compliance with the laws of
        Ukraine, including but not limited to: "On the Protection of
        Personal Data", "On the Ratification of the Convention on the
        Protection of Persons in Connection with the Automated Processing of
        Personal Data and the Additional Protocol to the Convention on the
        Protection of Persons in Connection with the Automated Processing of
        Personal Data in relation to the Authorities surveillance and
        cross-border data flows."
      </p>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >1. Collection and use of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >1. Collection and use of personal data</span
          >
        </span>
      </h3>
      <ul class="privacy__list">
        <li>
          1.1. The Company collects and processes personal data of users
          only with their consent and in accordance with the requirements of
          the legislation of Ukraine.
        </li>
        <li>
          1.2. When using the "UKROPTER" website, the company may collect
          the following information:
          <ul class="sub-privacy__list">
            <li>
              name, surname, contact details and other information provided
              by the user when using the services of the website;
            </li>
            <li>
              data about the use of the website and the company's services,
              including IP addresses, cookies and other technical data;
            </li>
            <li>
              other data that the user knowingly provides to the company in
              the process of interaction with the website or its services.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >2. Processing and storage of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >2. Processing and storage of personal data</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          2.1. Personal data is stored and processed by the company in
          accordance with the requirements of the law and is used only for
          specified purposes.
        </li>
        <li>
          2.2. The Company provides reasonable security measures to protect
          users' personal data from unauthorized access, loss or alteration.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >3. Use of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >3. Use of personal data</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          3.1. The personal data of users are used by the company
          exclusively for the following purposes:
          <ul class="sub-privacy__list">
            <li>provision of services and execution of orders;</li>
            <li>communication with users;</li>
            <li>
              analytics and improvement of the company's website and
              services.
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >4. Transfer of personal data to third parties</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >4. Transfer of personal data to third parties</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          4.1. The Company does not transfer personal data of users to third
          parties without their prior consent, except in cases stipulated by
          law.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3">5. User rights</span>
          <span aria-hidden="true" class="text-pattern typography-h3"
            >5. User rights</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          5.1. Users have the right to contact the company at any time with
          a request to access, correct, delete or restrict the processing of
          their personal data.
        </li>
        <li>
          5.2. Users also have the right to withdraw their consent to the
          processing of personal data at any time.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >6. Legal basis for the processing of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >6. Legal basis for the processing of personal data</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          6.1. The processing of personal data is carried out on the basis
          of the consent of the user or on another legal basis defined by
          the legislation of Ukraine.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >7. Transfer of personal data outside the territory of
            Ukraine</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >7. Transfer of personal data outside the territory of
            Ukraine</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          7.1. The transfer of personal data outside the territory of
          Ukraine can be carried out only with the relevant consent of the
          user and in accordance with the requirements of the legislation.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >8. Rights of the subject of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >8. Rights of the subject of personal data</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          8.1. The subject of personal data has the right to receive
          information from the company regarding the processing of his
          personal data, as well as to request their correction or deletion
          in cases specified by law.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >9. Retention period of personal data</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >9. Retention period of personal data</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          9.1. Personal data is stored only for the period necessary to
          achieve the specified processing purposes, which do not exceed the
          time limits established by law.
        </li>
      </ul>
    </div>

    <div class="privacy_part">
      <h3 class="privacy__h3">
        <span class="text-stack">
          <span class="text-base typography-h3"
            >10. Notification of changes in privacy policy</span
          >
          <span aria-hidden="true" class="text-pattern typography-h3"
            >10. Notification of changes in privacy policy</span
          >
        </span>
      </h3>

      <ul class="privacy__list">
        <li>
          10.1. The Company notifies users of any changes to the privacy
          policy by posting an updated version on the website.
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
