---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Black Cat" lang="ua">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">БПЛА BLACK CAT</span>
          <span class="hero-title__pattern">БПЛА BLACK CAT</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">БПЛА BLACK CAT</span>
          <span class="hero-title-mobile__pattern">БПЛА BLACK CAT</span>
        </div>
      </div>
    </section>
    <section class="black-cat">
      <div class="black-cat__container container">
        <div class="black-cat__table table">
          <!-- Основні переваги -->
          <div class="black-cat__section-title section-title">
            Основні переваги БПЛА «BLACK CAT»
          </div>
          <table class="table-default black-cat__table-default">
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Стійкість до РЕБ за рахунок власної системи навігації по
                маяках
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Передача даних та керування з ППРЧ
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Робота без наявного сигналу GPS
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Підсилений відеосигнал з можливістю трансляції в реальному
                часі
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Наземна станція з автоматичним трекером, що слідує за бортом
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Основних переваг -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Стійкість до РЕБ за рахунок власної системи навігації по
                маяках
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Передача даних та керування з ППРЧ
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Робота без наявного сигналу GPS
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Підсилений відеосигнал з можливістю трансляції в реальному
                часі
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Наземна станція з автоматичним трекером, що слідує за бортом
              </div>
            </li>
          </ul>

          <!-- Конструктивні параметри -->
          <div class="black-cat__section-title section-title">
            Конструктивні параметри
          </div>

          <table
            class="table-default no-vertical-border black-cat__table-default black-cat__table-default--no-vertical-border"
          >
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Матеріал: карбон
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Діагональ рами: 1200 мм
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Робота при t -10 до +40°C
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Витримує 3 мм опадів за 1 год та сильний вітер
              </td>
              <td class="black-cat__cell"></td>
            </tr>
          </table>

          <!-- Адаптивна версія Конструктивних параметрів -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Матеріал: карбон
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Діагональ рами: 1200 мм
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Робота при t -10 до +40°C
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Витримує 3 мм опадів за 1 год та сильний вітер
              </div>
            </li>
          </ul>

          <!-- Польотні характеристики -->
          <div class="black-cat__section-title section-title">
            ПОЛЬОТНІ ХАРАКТЕРИСТИКИ БПЛА
          </div>
          <table class="table-bordered black-cat__table-bordered">
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Макс. вага корисного навантаження
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                15 кг
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Тактичний радіус роботи з 10 кг / 12 кг / 15 кг
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                15 км / 12 км / 10 км
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Максимальна швидкість: з вагою 12 кг / без ваги / крейсерська
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                75 / 90 / 55 км/год
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Оптимальна висота польоту
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                200 – 400 м
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                АКБ
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                Li-ion 6s8p 33.6 Ah, 4 шт.
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Польотних характеристик -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Макс. вага корисного навантаження
              </div>
              <div class="black-cat__table-responsive-value">15 кг</div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Тактичний радіус роботи з 10 кг / 12 кг / 15 кг
              </div>
              <div class="black-cat__table-responsive-value">
                15 км / 12 км / 10 км
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Максимальна швидкість: з вагою 12 кг / без ваги / крейсерська
              </div>
              <div class="black-cat__table-responsive-value">
                75 / 90 / 55 км/год
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Оптимальна висота польоту
              </div>
              <div class="black-cat__table-responsive-value">200 – 400 м</div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">АКБ</div>
              <div class="black-cat__table-responsive-value">
                Li-ion 6s8p 33.6 Ah, 4 шт.
              </div>
            </li>
          </ul>

          <!-- Керування / зв'язок -->
          <div class="black-cat__section-title section-title">
            КЕРУВАННЯ / ЗВ'ЯЗОК
          </div>
          <table class="table-bordered black-cat__table-bordered">
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Телеметрія/керування 433 МГц (ППРЧ 410–490 МГц)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 км
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Навігація по GPS (UNA)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                GNSS L1 L2 L5
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Маяки позиціонування без GPS
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 км
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Відео Herelink 2,4 ГГц + направлена антена Avenger (10Вт)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 км
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Камера Topotek KHP2906609 денна/тепловізійна з гімбалом
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                1080p / 640 × 512
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Керування / зв'язок -->
          <div class="black-cat__table-responsive">
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Телеметрія/керування 433 МГц (ППРЧ 410–490 МГц)
              </div>
              <div class="black-cat__table-responsive-value">20 км</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Навігація по GPS (UNA)
              </div>
              <div class="black-cat__table-responsive-value">
                GNSS L1 L2 L5
              </div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Маяки позиціонування без GPS
              </div>
              <div class="black-cat__table-responsive-value">20 км</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Відео Herelink 2,4 ГГц + направлена антена Avenger (10Вт)
              </div>
              <div class="black-cat__table-responsive-value">20 км</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Камера Topotek KHP2906609 денна/тепловізійна з гімбалом
              </div>
              <div class="black-cat__table-responsive-value">
                1080p / 640 × 512
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
