---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Публічна оферта ТОВ «БРЕЙВЕРІ ІНВЕСТ»" lang="ua">
  <section class="privacy-policy-partial">
    <div class="privacy__hero">
      <h1 class="privacy__h1">
        <span class="text-stack">
          <span class="typography-h1 text-base"
            >ПУБЛІЧНА ОФЕРТА ТОВ «БРЕЙВЕРІ ІНВЕСТ»</span
          >
          <span aria-hidden="true" class="typography-h1 text-pattern"
            >ПУБЛІЧНА ОФЕРТА ТОВ «БРЕЙВЕРІ ІНВЕСТ»</span
          >
        </span>
      </h1>
    </div>

    <div class="container">
      <div class="top_article">
        <p>
          Цей договір є офіційною та публічною пропозицією Продавця укласти
          договір купівлі-продажу Товару, представленого на сайті
          <a href="https://ukropter.com">https://ukropter.com</a>
        </p>
        <p>
          Цей договір є публічним, відповідно до статті 633 Цивільного
          кодексу України його умови є однаковими для всіх покупців
          незалежно від їх статусу (фізична особа, юридична особа, фізична
          особа-підприємець) без надання переваги одному покупцю перед
          іншим.
        </p>
        <p>
          Шляхом укладення цього Договору покупець в повному обсязі приймає
          умови та порядок оформлення замовлення, оплати товару, доставки
          товару, повернення товару, та інші умови договору.
        </p>
        <p>
          Договір вважається укладеним з моменту погодження Сторонами умов
          замовлення, у тому числі шляхом листування, виставлення рахунку
          Продавцем та здійснення Покупцем оплати за Товар або прийняття
          Товару.
        </p>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >1. Визначення термінів</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >1. Визначення термінів</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            1.1. Публічна оферта (далі – «Оферта») – публічна пропозиція
            Продавця, адресована невизначеному колу осіб, укласти з
            Продавцем договір купівлі-продажу товару дистанційним способом
            (далі – «Договір») на умовах, що містяться в цій Оферті.
          </li>
          <li>
            1.2. Товар – об'єкт угоди сторін, який був обраний покупцем на
            сайті, або вже придбаний Покупцем у Продавця дистанційним
            способом.
          </li>
          <li>
            1.3. Сайт Продавця за адресою
            <a href="https://ukropter.com">https://ukropter.com</a>
            створений для інформування покупців про товари та отримання
            запитів на їх придбання.
          </li>
          <li>
            1.4. Покупець – дієздатна фізична особа, яка досягла 18 років,
            або юридична особа чи фізична особа-підприємець, що направляє
            запит на придбання товару.
          </li>
          <li>
            1.5. Продавець – ТОВ «БРЕЙВЕРІ ІНВЕСТ», юридична особа, яка
            створена і діє відповідно до чинного законодавства України.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3">2. Предмет Договору</span>
            <span aria-hidden="true" class="text-pattern typography-h3"
              >2. Предмет Договору</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            2.1. Продавець зобов'язується передати у власність Покупцю
            Товар, а Покупець зобов'язується оплатити і прийняти Товар на
            умовах цього Договору.
          </li>
          <li>
            2.2. Конкретні умови поставки Товару (найменування, кількість,
            ціна, строки, спосіб доставки) погоджуються Сторонами додатково.
            У разі необхідності, за бажанням Покупця, Договір може бути
            оформлений у письмовій формі.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >3. Оформлення Замовлення</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >3. Оформлення Замовлення</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            3.1. Покупець здійснює замовлення Товару шляхом направлення
            запиту через форму на сайті, електронною поштою, через
            месенджери або за телефоном, зазначеним у розділі «Контакти».
          </li>
          <li>
            3.2. Продавець має право відмовитися від передання замовлення
            Покупцеві у випадку, якщо відомості, вказані Покупцем під час
            оформлення замовлення, є неповними або викликають підозру щодо
            їх дійсності.
          </li>
          <li>
            3.3. Для оформлення замовлення Покупець надає:
            <ul class="sub-privacy__list">
              <li>3.3.1. ім'я та прізвище;</li>
              <li>3.3.2. контактний номер телефону;</li>
              <li>3.3.3. адресу доставки (за необхідності);</li>
              <li>3.3.4. реквізити (для юридичних осіб/ФОП).</li>
            </ul>
          </li>
          <li>
            3.4. Оформлюючи замовлення, Покупець надає згоду на обробку
            персональних даних, з метою виконання цього Договору відповідно
            до Закону України «Про захист персональних даних».
          </li>
          <li>
            3.5. Якщо будь-якої із Сторін договору необхідна додаткова
            інформація, він має право запросити її у іншій Стороні.
          </li>
          <li>
            3.6. При оформленні замовлення через оператора Продавця (п. 3.1.
            Цієї Оферти) Покупець зобов'язується надати інформацію,
            зазначену в п. 3.3 цієї Оферти.
          </li>
          <li>
            3.7. Ухвалення Покупцем умов цієї Оферти здійснюється за
            допомогою внесення Покупцем відповідних даних в реєстраційну
            форму на сайті або при оформленні Замовлення через оператора.
            Після оформлення Замовлення через Оператора дані про Покупця
            вносяться до бази даних Продавця.
          </li>
          <li>
            3.8. Покупець несе відповідальність за достовірність наданої
            інформації при оформленні Замовлення.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >4. Ціна і Доставка Товару</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >4. Ціна і Доставка Товару</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            4.1. Ціни на Товар визначаються Продавцем та можуть зазначатися
            на сайті або повідомлятися Покупцю під час погодження
            замовлення.
          </li>
          <li>
            4.2. Ціни на Товари та послуги можуть змінюватися Продавцем в
            односторонньому порядку залежно від кон'юнктури ринку. При цьому
            ціна окремої одиниці Товару, вартість якої оплачена Покупцем в
            повному обсязі, не може бути змінена Продавцем в односторонньому
            порядку.
          </li>
          <li>
            4.3. Вартість Товару, яка вказана на сайті або названа
            оператором не включає в себе вартість доставки Товару Покупцю.
            Вартість доставки Товару Покупець сплачує відповідно до діючих
            тарифів служб доставки (перевізників) безпосередньо обраній ним
            службі доставки (перевізнику).
          </li>
          <li>
            4.4. Продавець може вказати орієнтовну вартість доставки Товару
            на адресу Покупця під час звернення Покупця із відповідним
            запитом до Продавця шляхом надіслання листа на електронну пошту
            або при оформленні замовлення через оператора.
          </li>
          <li>
            4.5. Зобов'язання Покупця по оплаті Товару вважаються виконаними
            з моменту надходження Продавцю коштів на його рахунок.
          </li>
          <li>
            4.6. При отриманні товару Покупець повинен у присутності
            представника служби доставки (перевізника) перевірити
            відповідність Товару якісним і кількісним характеристикам
            (найменування товару, кількість, комплектність, технічні
            характеристики).
          </li>
          <li>
            4.7. Покупець або його представник під час приймання Товару
            підтверджує своїм підписом в товарному чеку/ або в замовленні/
            або в транспортній накладній на доставку товарів, що не має
            претензій до кількості товару, зовнішнім виглядом і
            комплектності товару.
          </li>
          <li>
            4.8. Право власності та ризик випадкової втрати або пошкодження
            Товару переходить до Покупця або його Представника з моменту
            отримання Товару Покупцем в місті поставки Товару при
            самостійній доставки Товару від Продавця, чи під час передачі
            Продавцем товару службі доставки (перевізнику) обраної Покупцем.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >5. Права та обов'язки Сторін</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >5. Права та обов'язки Сторін</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>5.1. Продавець зобов'язаний:</li>
          <li>
            <ul class="sub-privacy__list">
              <li>
                5.1.1. Передати Покупцеві товар у відповідності до умов
                цього Договору та замовлення Покупця.
              </li>
              <li>
                5.1.2. Не розголошувати будь-яку приватну інформацію про
                Покупця і не надавати доступ до цієї інформації третім
                особам, за винятком випадків, передбачених законодавством та
                під час виконання Замовлення Покупця.
              </li>
            </ul>
          </li>
          <li>5.2. Продавець має право:</li>
          <li>
            <ul class="sub-privacy__list">
              <li>
                5.2.1. Змінювати умови цього Договору, а також ціни на
                Товари та послуги, в односторонньому порядку, розміщуючи їх
                на сайті. Всі зміни набувають чинності з моменту їх
                публікації.
              </li>
            </ul>
          </li>
          <li>5.3. Покупець зобов'язується:</li>
          <li>
            <ul class="sub-privacy__list">
              <li>
                5.3.1. До моменту укладення Договору ознайомитися зі змістом
                Договору, умовами Договору і цінами, запропонованими
                Продавцем на сайті.
              </li>
              <li>
                5.3.2. На виконання Продавцем своїх зобов'язань перед
                Покупцем останній повинен повідомити всі необхідні дані, що
                однозначно ідентифікують його як Покупця, і достатні для
                доставки Покупцеві замовленого Товару.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >6. Повернення Товару</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >6. Повернення Товару</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            6.1. Покупець має право на повернення Продавцеві непродовольчого
            товару належної якості, якщо товар не задовольнив його за
            формою, габаритами, фасоном, кольором, розміром або з інших
            причин не може бути ним використаний за призначенням. Покупець
            має право на повернення товару належної якості протягом 14
            (чотирнадцяти) днів. Повернення товару належної якості
            проводиться, якщо він не використовувався та збережено його
            товарний вигляд, споживчі властивості, упаковка, пломби, ярлики,
            а також розрахунковий документ, виданий Покупцю за оплату
            Товару. Перелік товарів, що не підлягають поверненню на
            підставах, передбачених у цьому пункті, затверджується Кабінетом
            Міністрів України.
          </li>
          <li>
            6.2. Товари з індивідуальними характеристиками або виготовлені
            на замовлення поверненню не підлягають. Підтвердженням того, що
            товар має індивідуально-визначені властивості, є відмінність
            розмірів товару та інших характеристик, що вказані на сайті.
          </li>
          <li>
            6.3. Повернення Покупцеві вартості товару належної якості
            здійснюється протягом 30 (тридцяти) календарних днів з моменту
            отримання такого Товару Продавцем за умови дотримання вимог,
            передбачених п. 6.1. Договору, чинним законодавством України.
          </li>
          <li>
            6.4. Вартість товару підлягає поверненню шляхом банківського
            переказу на рахунок Покупця.
          </li>
          <li>
            6.5. Повернення Товару належної якості за адресою Продавця,
            здійснюється за рахунок Покупця та Продавцем не відшкодовується.
          </li>
          <li>
            6.6. У разі виявлення протягом встановленого гарантійного строку
            недоліків у Товарі, Покупець особисто, в порядку та у строки, що
            встановлені законодавством України, має право пред'явити
            Продавцеві вимоги, передбачені Законом України «Про захист прав
            споживачів». При пред'явленні вимог про безоплатне усунення
            недоліків, строк на їх усунення відраховується з дати отримання
            Товару Продавцем в своє розпорядження та фізичного доступу до
            такого Товару.
          </li>
          <li>
            6.7. Продавець не відповідає за недоліки Товару, які виникли
            після його передання Покупцеві внаслідок порушення Покупцем
            правил користування або зберігання Товару, дій третіх осіб або
            непереборної сили.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3">7. Відповідальність</span>
            <span aria-hidden="true" class="text-pattern typography-h3"
              >7. Відповідальність</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            7.1. Продавець не несе відповідальності за шкоду, заподіяну
            Покупцеві або третім особам внаслідок неналежного монтажу,
            використання, зберігання Товару придбаного у Продавця.
          </li>
          <li>
            7.2. Продавець не несе відповідальності за неналежне,
            несвоєчасне виконання Замовлень і своїх зобов'язань у випадку
            надання Покупцем недостовірної або помилкової інформації.
          </li>
          <li>
            7.3. Продавець і Покупець несуть відповідальність за виконання
            своїх зобов'язань відповідно до чинного законодавства України і
            положень цього Договору.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >8. Конфіденційність і захист персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >8. Конфіденційність і захист персональних даних</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            8.1. Надаючи свої персональні дані на сайті при заповненні форми
            Замовлення, Покупець надає Продавцеві свою добровільну згоду на
            обробку, використання (у тому числі і передачу) своїх
            персональних даних, а також вчинення інших дій, передбачених
            Законом України «Про захист персональних даних», без обмеження
            терміну дії такої згоди.
          </li>
          <li>
            8.2. Продавець зобов'язується не розголошувати отриману від
            Покупця інформацію. Не вважається порушенням надання Продавцем
            інформації контрагентам і третім особам, що діють на підставі
            договору з Продавцем, в тому числі і для виконання зобов'язань
            перед Покупцем, а також у випадках, коли розкриття такої
            інформації встановлено вимогами чинного законодавства України.
          </li>
          <li>
            8.3. Покупець несе відповідальність за підтримання своїх
            персональних даних в актуальному стані. Продавець не несе
            відповідальності за неякісне виконання або невиконання своїх
            зобов'язань у зв'язку з неактуальністю інформації про Покупця
            або невідповідністю її дійсності.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3">9. Інші умови</span>
            <span aria-hidden="true" class="text-pattern typography-h3"
              >9. Інші умови</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            9.1. Цей договір укладено на території України і діє відповідно
            до чинного законодавства України.
          </li>
          <li>
            9.2. Усі спори, що виникають між Покупцем і Продавцем,
            вирішуються шляхом переговорів. У випадку недосягнення
            врегулювання спірного питання шляхом переговорів, Покупець
            та/або Продавець мають право звернутися за вирішенням спору до
            судових органів відповідно до чинного законодавства України.
          </li>
          <li>
            9.3. Продавець має право вносити зміни до цього Договору в
            односторонньому порядку, передбаченому п. 5.2.1. Договору. Крім
            того, зміни до Договору також можуть бути внесені за взаємною
            згодою Сторін в порядку, передбаченому чинним законодавством
            України.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >10. Інформація про продавця</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >10. Інформація про продавця</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>ТОВ «БРЕЙВЕРІ ІНВЕСТ»</li>
          <li>Місцезнаходження: Київська обл., Бучанський р-н</li>
          <li>Тел.: +380664962020.</li>
          <li>
            Електронна пошта:
            <a href="mailto:head.sales@ukropter.ua"
              >head.sales@ukropter.ua</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
