---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Black Cat" lang="en">
  <main>
    <section class="">
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">UAV BLACK CAT</span>
          <span class="hero-title__pattern">UAV BLACK CAT</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">UAV BLACK CAT</span>
          <span class="hero-title-mobile__pattern">UAV BLACK CAT</span>
        </div>
      </div>
    </section>
    <section class="black-cat">
      <div class="black-cat__container container">
        <div class="black-cat__table table">
          <!-- Основні переваги -->
          <div class="black-cat__section-title section-title">
            MAIN ADVANTAGES OF UAV Black cat
          </div>
          <table class="table-default black-cat__table-default">
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Resistance to EW due to its own beacon navigation system
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Data transmission and control from the FHSS
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Operation without an available GPS signal
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Amplified video signal with the ability to broadcast in real
                time
              </td>
            </tr>
            <tr class="full black-cat__row black-cat__row--full">
              <td colspan="2" class="black-cat__cell">
                Ground station with an automatic tracker that follows the
                board
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Основних переваг -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Resistance to EW due to its own beacon navigation system
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Data transmission and control from the FHSS
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Operation without an available GPS signal
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Amplified video signal with the ability to broadcast in real
                time
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-value">
                Ground station with an automatic tracker that follows the
                board
              </div>
            </li>
          </ul>

          <!-- Конструктивні параметри -->
          <div class="black-cat__section-title section-title">
            UAV FLIGHT SPECIFICATIONS
          </div>

          <table
            class="table-default no-vertical-border black-cat__table-default black-cat__table-default--no-vertical-border"
          >
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Material: Carbon fiber
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Frame diagonal: 1200 mm
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Temp range: –10°C to +40°C
              </td>
              <td class="black-cat__cell"></td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Rain/Wind: 3 mm/h, strong
              </td>
              <td class="black-cat__cell"></td>
            </tr>
          </table>

          <!-- Адаптивна версія Конструктивних параметрів -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Material: Carbon fiber
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Frame diagonal: 1200 mm
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Temp range: –10°C to +40°C
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Rain/Wind: 3 mm/h, strong
              </div>
            </li>
          </ul>

          <!-- Польотні характеристики -->
          <div class="black-cat__section-title section-title">
            UAV FLIGHT SPECIFICATIONS
          </div>
          <table class="table-bordered black-cat__table-bordered">
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Max. payload capacity
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                15 kg
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Tactical range (10/12/15 kg payloads)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                15 km / 12 km / 10 km
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Max. speed: with 12 kg / unloaded / cruising
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                75 / 90 / 55 km/h
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Optimal flight altitude
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                200 – 400 m
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Battery
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                Li-ion 6s8p 33.6 Ah, 4 pcs.
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Польотних характеристик -->
          <ul class="black-cat__table-responsive">
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Max. payload capacity
              </div>
              <div class="black-cat__table-responsive-value">15 kg</div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Tactical range (10/12/15 kg payloads)
              </div>
              <div class="black-cat__table-responsive-value">
                15 km / 12 km / 10 km
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Max. speed: with 12 kg / unloaded / cruising
              </div>
              <div class="black-cat__table-responsive-value">
                75 / 90 / 55 km/h
              </div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Optimal flight altitude
              </div>
              <div class="black-cat__table-responsive-value">200 – 400 m</div>
            </li>
            <li class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">Battery</div>
              <div class="black-cat__table-responsive-value">
                Li-ion 6s8p 33.6 Ah, 4 pcs.
              </div>
            </li>
          </ul>

          <!-- Керування / зв'язок -->
          <div class="black-cat__section-title section-title">
            CONTROL / COMMUNICATION
          </div>
          <table class="table-bordered black-cat__table-bordered">
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Telemetry/Control: 433 MHz (FHSS 410–490 MHz)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 km
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Navigation: GPS (UNA system)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                GNSS L1 L2 L5
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Positioning beacons (non-GPS)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 km
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Video link: Herelink 2.4 GHz + Avenger directional antenna (10
                W)
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                20 km
              </td>
            </tr>
            <tr class="black-cat__row">
              <td class="label black-cat__cell black-cat__cell--label">
                Camera: Topotek KHP290G609 (day/thermal) with gimbal
              </td>
              <td class="value black-cat__cell black-cat__cell--value">
                1080p / 640 × 512
              </td>
            </tr>
          </table>

          <!-- Адаптивна версія Керування / зв'язок -->
          <div class="black-cat__table-responsive">
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Telemetry/Control: 433 MHz (FHSS 410–490 MHz)
              </div>
              <div class="black-cat__table-responsive-value">20 km</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Navigation: GPS (UNA system)
              </div>
              <div class="black-cat__table-responsive-value">
                GNSS L1 L2 L5
              </div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Positioning beacons (non-GPS)
              </div>
              <div class="black-cat__table-responsive-value">20 km</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Video link: Herelink 2.4 GHz + Avenger directional antenna (10
                W)
              </div>
              <div class="black-cat__table-responsive-value">20 km</div>
            </div>
            <div class="black-cat__table-responsive-row">
              <div class="black-cat__table-responsive-label">
                Camera: Topotek KHP290G609 (day/thermal) with gimbal
              </div>
              <div class="black-cat__table-responsive-value">
                1080p / 640 × 512
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
