---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="UKROPTER PLATFORM" lang="ua">
  <main>
    <section>
      <div class="hero-title">
        <div class="hero-title__stack">
          <span class="hero-title__base">UKROPTER PLATFORM</span>
          <span class="hero-title__pattern">UKROPTER PLATFORM</span>
        </div>
      </div>
      <div class="hero-title-mobile">
        <div class="hero-title-mobile__stack">
          <span class="hero-title-mobile__base">UKROPTER PLATFORM</span>
          <span class="hero-title-mobile__pattern">UKROPTER PLATFORM</span>
        </div>
      </div>
    </section>
    <section class="spec-table">
      <div class="container">
        <div class="spec-table__wrapper">
          <table class="spec-table__table">
            <thead class="spec-table__thead">
              <tr class="spec-table__row">
                <th class="spec-table__th">ПАРАМЕТРИ</th>
                <th class="spec-table__th">ПОКАЗНИКИ</th>
              </tr>
            </thead>

            <tbody class="spec-table__tbody">
              <tr class="spec-table__row">
                <td class="spec-table__td">Розмір рами</td>
                <td class="spec-table__td">16</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Вага корисного навантаження</td>
                <td class="spec-table__td">1,5 кг</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Тактичний радіус дії</td>
                <td class="spec-table__td">5 км</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Тривалість польоту з навантаженням 1 кг
                </td>
                <td class="spec-table__td">
                  60 хв, 70 хв, 80 хв (залежно від АКБ)
                </td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Точність по азимуту</td>
                <td class="spec-table__td">1 градус</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Крейсерська швидкість</td>
                <td class="spec-table__td">55 км/год</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Рекомендована висота</td>
                <td class="spec-table__td">до 800 м</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Навігація UAV (видалити), замість цього
                </td>
                <td class="spec-table__td">—</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Оптична навігація/стабілізація
                </td>
                <td class="spec-table__td">СтабХ</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Камера</td>
                <td class="spec-table__td">SIYI A2 mini</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Робоча частота (SIYI)</td>
                <td class="spec-table__td">2.4 ГГц</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Пульт</td>
                <td class="spec-table__td">SIYI</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Акумулятор</td>
                <td class="spec-table__td">
                  27,5Ah, 30Ah Solid-State, 40Ah Solid-State
                </td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">
                  Можливість встановлення виносної антени
                </td>
                <td class="spec-table__td">так</td>
              </tr>
              <tr class="spec-table__row">
                <td class="spec-table__td">Час розгортання</td>
                <td class="spec-table__td">5 хв</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container">
        <div class="complex-table-djura">
          <p class="complex-table__settings">Параметри</p>
        </div>
        <ul class="specs-djura">
          <li class="specs-djura__block">
            <p class="specs-djura__title">Габаритні розміри</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">16</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Вага корисного навантаження</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">1,5 кг</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Тактичний радіус дії</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">5 км</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Тривалість польоту з навантаженням 1 кг
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >60 хв, 70 хв, 80 хв (залежно від АКБ)</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Точність позиціонування по азимуту
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">1 градус</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Крейсерська швидкість</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">55 км/год</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Рекомендована висота — до</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">800 м</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Навігація UAV (видалити), замість цього
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">—</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Оптична навігація/стабілізація
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">СтабХ</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Камера</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">SIYI A2 mini</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Робоча частота (SIYI)</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">2.4 ГГц</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Пульт в комплекті</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">SIYI</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Акумулятор</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label"
                >27,5Ah, 30Ah Solid-State, 40Ah Solid-State</strong
              >
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">
              Можливість встановлення виносної антени
            </p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">так</strong>
            </p>
          </li>
          <li class="specs-djura__block">
            <p class="specs-djura__title">Час розгортання</p>
            <p class="specs-djura__item">
              <strong class="specs-djura__label">5 хв</strong>
            </p>
          </li>
        </ul>
      </div>
    </section>
  </main>
</BaseLayout>
