---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Privacy Policy" lang="ua">
  <section class="privacy-policy-partial">
    <div class="privacy__hero">
      <h1 class="privacy__h1">
        <span class="text-stack">
          <span class="typography-h1 text-base"
            >ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</span
          >
          <span aria-hidden="true" class="typography-h1 text-pattern"
            >ПОЛІТИКА КОНФІДЕНЦІЙНОСТІ</span
          >
        </span>
      </h1>
    </div>

    <div class="container">
      <div class="top_article">
        <p>
          Компанія «UKROPTER» (далі - «Компанія») висловлює повагу до
          конфіденційності та приватності своїх користувачів. Ця Політика
          конфіденційності регулює збір, зберігання, використання та захист
          персональних даних, які надаються користувачами в ході
          використання вебсайту та послуг компанії.
        </p>

        <br />

        <p>
          Персональні дані використовуються в цілях забезпечення надання
          Інтернет-сервісів Сайту на виконання законів України, у тому числі
          але не виключно: «Про захист персональних даних», «Про ратифікацію
          Конвенції про захист осіб у зв'язку з автоматизованою обробкою
          персональних даних та Додаткового протоколу до Конвенції про
          захист осіб у зв'язку з автоматизованою обробкою персональних
          даних стосовно органів нагляду та транскордонних потоків даних».
        </p>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >1. Збір та використання персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >1. Збір та використання персональних даних</span
            >
          </span>
        </h3>
        <ul class="privacy__list">
          <li>
            1.1. Компанія збирає та обробляє персональні дані користувачів
            лише з їхньою згодою та відповідно до вимог законодавства
            України.
          </li>
          <li>
            1.2. Під час користування вебсайтом «UKROPTER», компанія може
            збирати наступну інформацію:
            <ul class="sub-privacy__list">
              <li>
                ім'я, прізвище, контактні дані та іншу інформацію, надану
                користувачем під час використання сервісів вебсайту;
              </li>
              <li>
                дані про користування вебсайтом та послугами компанії,
                включаючи IP-адреси, файли cookie та інші технічні дані;
              </li>
              <li>
                інші дані, які користувач свідомо надає компанії в процесі
                взаємодії з вебсайтом або її послугами.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >2. Обробка та зберігання персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >2. Обробка та зберігання персональних даних</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            2.1. Персональні дані зберігаються та обробляються компанією
            відповідно до вимог законодавства та використовуються лише для
            визначених цілей.
          </li>
          <li>
            2.2. Компанія забезпечує розумні заходи безпеки для захисту
            персональних даних користувачів від несанкціонованого доступу,
            втрати чи зміни.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >3. Використання персональних даних‍</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >3. Використання персональних даних‍</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            3.1. Персональні дані користувачів використовуються компанією
            виключно для наступних цілей:
            <ul class="sub-privacy__list">
              <li>надання послуг та виконання замовлень;</li>
              <li>зв'язок з користувачами;</li>
              <li>
                аналітика та вдосконалення вебсайту та послуг компанії.
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >4. Передача персональних даних третім особам</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >4. Передача персональних даних третім особам</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            4.1. Компанія не передає персональні дані користувачів третім
            особам без їхнього попередньої згоди, за винятком випадків,
            передбачених законодавством.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >5. Права користувачів</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >5. Права користувачів</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            5.1. Користувачі мають право в будь-який час звернутися до
            компанії з запитом на доступ, виправлення, видалення або
            обмеження обробки своїх персональних даних.
          </li>
          <li>
            5.2. Користувачі також мають право в будь-який час відкликати
            свою згоду на обробку персональних даних.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >6. Правова підстава для обробки персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >6. Правова підстава для обробки персональних даних</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            6.1. Обробка персональних даних здійснюється на підставі згоди
            користувача або на іншій законній підставі, визначених
            законодавством України.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >7. Передача персональних даних за межі території
              України</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >7. Передача персональних даних за межі території
              України</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            7.1. Передача персональних даних за межі території України може
            здійснюватися лише за наявності відповідної згоди користувача та
            відповідно до вимог законодавства.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >8. Права суб'єкта персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >8. Права суб'єкта персональних даних</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            8.1. Суб'єкт персональних даних має право отримувати від
            компанії інформацію щодо обробки його персональних даних, а
            також вимагати їхнього виправлення чи видалення у випадках,
            визначених законодавством.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >9. Термін зберігання персональних даних</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >9. Термін зберігання персональних даних</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            9.1. Персональні дані зберігаються лише протягом терміну,
            необхідного для досягнення визначених цілей обробки, які не
            перевищують строків, встановлених законодавством.
          </li>
        </ul>
      </div>

      <div class="privacy_part">
        <h3 class="privacy__h3">
          <span class="text-stack">
            <span class="text-base typography-h3"
              >10. Повідомлення про зміни у політиці конфіденційності</span
            >
            <span aria-hidden="true" class="text-pattern typography-h3"
              >10. Повідомлення про зміни у політиці конфіденційності</span
            >
          </span>
        </h3>

        <ul class="privacy__list">
          <li>
            10.1. Компанія повідомляє користувачів про будь-які зміни у
            політиці конфіденційності шляхом публікації оновленої версії на
            вебсайті.
          </li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
