---
---
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <title>Ukropter CMS</title>
</head>
<body>
  <script is:inline src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
  <script is:inline>
    CMS.registerPreviewStyle('https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css')
    CMS.registerPreviewStyle('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap')
    CMS.registerPreviewStyle('https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css')
    CMS.registerPreviewStyle('/styles/global.css')
  </script>
</body>
</html>
